*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header
{
	background-color:rgb(188, 47, 47);
	width: 100%;
	padding: 20px;
}
header h1
{
	text-align: center;
	color: aliceblue;
	font-size: 38px;
}
header p
{
	text-align: center;
	color: aliceblue;
	font-size: 20px
}
nav 
{
	
	/* padding: 10px; */
	background-color:rgb(11, 11, 11) ;
	text-align: center;
}
nav a
{
	text-decoration: none;
	/* background-color: aliceblue; */
	margin:  0 15px;
	padding: 10px 15px;
	display: inline-block;
	color: rgb(237, 212, 168);
	font-size: 20px;
	transition: 1s;
}
nav a:hover
{
	background-color: rgb(225, 208, 187);
	color: black;
    border-radius: 20px;
}
.home
{
    background-image: url(./images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 76vh;
    Position: relative;
}
.home h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(237, 201, 154);
    font-size: 50px;
}
.home p
{
    position:absolute;
    top: 55%;
    left: 43%;
    transition: (-50%,-50%);
    font-size: 30px;
    color: bisque;
}
